body {
  background-color: #fff;
  color: #292f2f;
  font-family: 'Open Sans', sans-serif;
}

h2, h3{
  margin-bottom: 0;
  margin-top: .3em;
}

a {
  text-decoration: none;
  color: #008499;
}

a:hover {
  color: #3baec4;
}

img {
  max-width: 50%;
  min-width: 33%;
  margin-top: .3em;
}

nav {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  color: #333;
  border-bottom: 1px solid #ddd;
  height: 45px;
  font-size: 38px;
  padding-bottom: 10px;
  padding-left: .5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

nav a {
  color: #292f2f;
  margin: 0;
  position: relative;
}

nav img{
  min-width: 0;
  height: 40px;
  width: 40px;
  margin: 0;
  margin-top: 5px;
  display: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  align-items: flex-start;
}

.box {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: .5em;
  padding: .5em;
  margin-right: .5em;
  font-size: 14px;
}

.lg {
  flex-grow: 4;
  word-wrap: break-word;
  max-width: 80%;
}

.sm {
  flex-grow: 2;
  margin-right: 0;
  max-width: 20%;
}

.spec {
  font-family: monospace;
  word-wrap: break-word;
  display: block;
  margin-top: .7em;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.zero {
  margin: 0;
  padding: 0;
}

.noborder {
  border: none;
}

td {
  font-size: 14px;
  padding-right: .3em;
}

ul {
  margin: 0;
}

.ulno {
  list-style: none;
  padding: 0;
}

.ulno li li {
  padding-left: 1.5em;
}

ul li:not(:first-child) {
  margin-top: .3em;
}

.ulno li li {
  margin-top: .3em;
}

.geninp {
  position: relative;
}

@media all and (max-width: 800px) {
  .hdn-mob {
    /*display: none;*/
    font-size: 14px;
  }
  
  .flex-container {
    flex-direction: column;
  }
  
  .lg {
    max-width: initial;
  }
  
  .lg {
    margin-right: 0;
  }
  
  .sm {
    max-width: initial;
  }
  img {
    max-width: 100%;
    width: 100%;
  }
}
